apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "intersight_api_key_file": "-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAvFd49ZJfOfLukb0Lzap0gvPXeSWj5jOYVC3z0GFQIZTFqyrP
LcLItqu8U19MR2l2qAs9PmsWloPyIXzV8bLr7ibeAG291dBz3irjDVgrP/UHd1zZ
lbHcDaho3GA2OwjKTdIvYqAcHR/S8Oeve/QWDtRuj9hTPRVOIuOycSEUwVJQX9Ui
6KGT7zfXga7PPle/KwlOnb9aU3HCZHSRP7x0et8g/kc6Owly0IgffOKmkm7GqWpw
uXmqzaHIsJCEX4FgaqbIQ5dFTmtYOrw4Wls5nH6mFMEcoHeh0VMWx/UeZo4QJADb
1+6GOemxBnCfXh6NQAmhkSCT6FwGtRZSsOznowIDAQABAoIBAGYRzbbgfYUNN+d5
mXT7RKtXdNXt5TYzjgFI6hJrOp8IXlvWFnOJVXdR+P0B73fgGvMVLDqwlIw7s7Qc
UGHtglkNbVC0KKZAkxq7CVPJDZ9arpIsmqq6ujQYqcOMzLcPm3uzRgTgGnxaK9ps
5Th63p1o2QZRyUKYUkEsPx96OyJNByZXIgveeYCTuX1TuswnNLbxOvNRvdXykkq7
GEO4AZREfzwoPG41GHl8OhidNqIJ3mzkS7zlcLNjkfRO7U5MGzwb2C6XNNC26NhG
7IkSsjZ9MjWCulHffPjbcnPhSuzAgafG873kvwAABYEuwZtVZp58h+75HSBxkFb9
q8A8zLkCgYEAwzuMm1VrAW69taRJ8ZTYjgSjr5ovYQS8B27464wbGnz6HYr1NcQr
Q3zoxx3ZNe7hrVgf2/rVWm7hJtT8626TeuoT4q7yRtduxR/WAT0Ts6cqd3Aotkne
KYXp4l/93Ww6ss1wspNgHPEmIY73AutOXwM5ADro5govmuqI1ja2rgcCgYEA9vbX
3Ia/QjTYBVQl/b6zxEoN7n9seWgxm/wY1AGLeUHe9mZMtyhFJMNU0cQ0G8Ww47qq
Flb/13mDXQRJgtVIyllOGJoEzCA/71IOHn4UJNbAFdt9kPfaqJPGP4haNhnVyX8f
1LMZW2sQ1O8lAAYZAGOzNkwN29P9uSJhPUP4EoUCgYBEAoSSwAjMsPUpR5fyrjVa
E8eprn5+v5V4yXGxLFdsvMisbfHJzxJ7KhI0+vLl1NeM+Tvv98tG+4U3b87DfPun
P8+5kdQYVYfi55o3SD2KwdsLTGkCR2067clx8JqQ/djc3LA7pRdAPclYu2LVA3+D
na3HpL3pFPdMchNE/D5bFQKBgAZjJfwXJBUzRq8EmSLx7rZR8ABOHWEad8YABChf
jdrqADlBNhS6nucvgh8Wwv5A461QI5wGTgGlq+cY+EnA+Gv7WVC7kwowf1bSOXlC
a4T0ZO1rytiYAHjBsavs++BQVL4sYodexnYd08aeFMfmYHkpGvZ5ixY3amWCZR9v
hZf9AoGAWrUQIZprkcqWCGeVfRpQMqS7aKwlUiORVHIZrfqeT3Fg/VBmDYVMBW9C
ZGizhCt9AlINKnZYe8sEvuJX9z1CiO5S+ofL1WmxryvQWPK2EBUAJz6tdL0ie5WJ
a2JaIp5OM6TbhqetM13Skhu70+qf+RgPnJy74U2WzfgiPtCRBiQ=
-----END RSA PRIVATE KEY-----"
  "intersight_api_key_id": "60599c447564612d33d47a77/615e8e0d7564612d3209a4cb/61a9069c7564612d32e46f98"
    }
